In [33]:
import numpy as np
import pandas as pd

# Load and fusion participants.tsv

## Load

In [34]:
bsnip_subjects = pd.read_csv("/neurospin/psy_sbox/bsnip1/participants.tsv", sep='\t')
candi_subjects = pd.read_csv("/neurospin/psy_sbox/candi/CANDI_t1mri_mwp1_participants.csv", sep='\t')
cnp_subjects = pd.read_csv("/neurospin/psy_sbox/cnp/participants.tsv", sep='\t')
schizconnect_subjects = pd.read_csv("/neurospin/psy_sbox/schizconnect-vip-prague/participants.tsv", sep='\t')

## Preprocess

### bsnip

In [35]:
bsnip_subjects

,participant_id,sex,age,diagnosis,study,site,phenotype
0,INV07WT2ZL3,0.0,29.0,control,BSNIP,Dallas,Control
1,INV0AL14J6U,0.0,43.0,schizophrenia,BSNIP,Dallas,Case
2,INV0B7HKFAY,0.0,39.0,relative of proband with schizoaffective disorder,BSNIP,Dallas,Relative
3,INV0G5RXTCC,1.0,34.0,schizoaffective disorder,BSNIP,Dallas,Case
4,INV0WW10RBB,1.0,42.0,schizoaffective disorder,BSNIP,Dallas,Case
...,...,...,...,...,...,...,...
1089,INVZBW8CC34,0.0,22.0,control,BSNIP,Hartford,Control
1090,INVZJDY9PR0,1.0,57.0,relative of proband with psychotic bipolar dis...,BSNIP,Hartford,Relative
1091,INVZR467366,1.0,44.0,relative of proband with schizoaffective disorder,BSNIP,Hartford,Relative
1092,INVZTBFRT07,1.0,54.0,control,BSNIP,Hartford,Control
1093,INVZVZDT24E,1.0,37.0,control,BSNIP,Hartford,Control

In [36]:
bsnip_subjects_processed = bsnip_subjects.drop('phenotype', axis=1)
# conversion from 0/1 to M/F not known -> skip it for now
bsnip_subjects_processed

,participant_id,sex,age,diagnosis,study,site
0,INV07WT2ZL3,0.0,29.0,control,BSNIP,Dallas
1,INV0AL14J6U,0.0,43.0,schizophrenia,BSNIP,Dallas
2,INV0B7HKFAY,0.0,39.0,relative of proband with schizoaffective disorder,BSNIP,Dallas
3,INV0G5RXTCC,1.0,34.0,schizoaffective disorder,BSNIP,Dallas
4,INV0WW10RBB,1.0,42.0,schizoaffective disorder,BSNIP,Dallas
...,...,...,...,...,...,...
1089,INVZBW8CC34,0.0,22.0,control,BSNIP,Hartford
1090,INVZJDY9PR0,1.0,57.0,relative of proband with psychotic bipolar dis...,BSNIP,Hartford
1091,INVZR467366,1.0,44.0,relative of proband with schizoaffective disorder,BSNIP,Hartford
1092,INVZTBFRT07,1.0,54.0,control,BSNIP,Hartford
1093,INVZVZDT24E,1.0,37.0,control,BSNIP,Hartford

### candi

In [37]:
candi_subjects.columns

Index(['participant_id', 'session', 'TIV', 'CSF_Vol', 'GM_Vol', 'WM_Vol',
       'l3thVen_GM_Vol', 'r3thVen_GM_Vol', 'l4thVen_GM_Vol', 'r4thVen_GM_Vol',
       ...
       'age', 'Handedness', 'Handed_extended', 'Weight (lbs)', 'Height (in)',
       'Head_Circumference (cm)', 'Tanner_Stage', 'diagnosis', 'site',
       'study'],
      dtype='object', length=302)

In [38]:
candi_subjects_processed = candi_subjects[['participant_id', 'sex', 'age', 'study', 'site', 'diagnosis']].copy()
# conversion from 0/1 to M/F not known -> skip it for now

candi_subjects_processed

,participant_id,sex,age,study,site,diagnosis
0,BPDwoPsy040,0,11.4,CANDI,CANDI,bipolar disorder without psychosis
1,HC017,0,9.0,CANDI,CANDI,control
2,HC019,1,14.7,CANDI,CANDI,control
3,BPDwoPsy056,0,8.1,CANDI,CANDI,bipolar disorder without psychosis
4,SS097,1,15.4,CANDI,CANDI,schizophrenia
...,...,...,...,...,...,...
98,HC014,0,8.0,CANDI,CANDI,control
99,BPDwoPsy030,1,9.4,CANDI,CANDI,bipolar disorder without psychosis
100,HC025,0,9.6,CANDI,CANDI,control
101,BPDwoPsy058,1,9.1,CANDI,CANDI,bipolar disorder without psychosis
102,HC002,0,13.4,CANDI,CANDI,control

### cnp

In [39]:
cnp_subjects

,participant_id,diagnosis,age,gender,bart,bht,dwi,pamenc,pamret,rest,scap,stopsignal,T1w,taskswitch,ScannerSerialNumber,ghost_NoGhost
0,sub-10159,CONTROL,30,F,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
1,sub-10171,CONTROL,24,M,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
2,sub-10189,CONTROL,49,M,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
3,sub-10193,CONTROL,40,M,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,35343.0,No_ghost
4,sub-10206,CONTROL,21,M,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,sub-70079,ADHD,21,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
268,sub-70080,ADHD,48,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
269,sub-70081,ADHD,50,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
270,sub-70083,ADHD,46,F,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
271,sub-70086,ADHD,48,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost

In [40]:
cnp_subjects_processed = cnp_subjects[['participant_id', 'gender', 'age', 'diagnosis']].copy()
cnp_subjects_processed.rename(columns={'gender': 'sex'}, inplace=True)
cnp_subjects_processed['site'] = ['CNP' for i in range(cnp_subjects_processed.shape[0])]
cnp_subjects_processed['study'] = ['CNP' for i in range(cnp_subjects_processed.shape[0])]

cnp_subjects_processed

    participant_id sex  age diagnosis site study
0        sub-10159   F   30   CONTROL  CNP   CNP
1        sub-10171   M   24   CONTROL  CNP   CNP
2        sub-10189   M   49   CONTROL  CNP   CNP
3        sub-10193   M   40   CONTROL  CNP   CNP
4        sub-10206   M   21   CONTROL  CNP   CNP
..             ...  ..  ...       ...  ...   ...
267      sub-70079   M   21      ADHD  CNP   CNP
268      sub-70080   M   48      ADHD  CNP   CNP
269      sub-70081   M   50      ADHD  CNP   CNP
270      sub-70083   F   46      ADHD  CNP   CNP
271      sub-70086   M   48      ADHD  CNP   CNP

[272 rows x 6 columns]

### schizconnect

In [41]:
schizconnect_subjects.columns

Index(['participant_id', 'sex', 'age', 'diagnosis', 'study', 'site',
       'medication', 'cannabis_last_month', 'tobacco_last_month',
       'alcohol_last_month', 'BPRS', 'PANSS_total', 'PANSS_positive',
       'PANSS_negative', 'PANSS_psychopatho', 'PANSS_desorganisation', 'SANS',
       'SAPS', 'MADRS', 'SOFAS', 'NSS', 'irm', 'Age of Onset', 'Alcohol',
       'Anticonvulsants', 'Antidepressants', 'Antipsychotics', 'BD Type',
       'Density of Episodes', 'Depression Scale', 'Depression Score',
       'Illness Duration', 'Lithium', 'Mania Scale', 'Mania Score',
       'Mood Phase', 'Number of Depressive Episodes',
       'Number of Manic Episodes', 'Onset Time', 'Psychotic', 'Severity',
       'Total Episodes', 'ymrstot', 'psysoc_65', 'psychosis_lt', 'phenotype',
       'session', 'path', 'TIV', 'CSF_Vol', 'GM_Vol', 'WM_Vol'],
      dtype='object')

In [42]:
schizconnect_subjects_processed = schizconnect_subjects[['participant_id', 'sex', 'age', 'diagnosis', 'study', 'site']]
schizconnect_subjects_processed

    participant_id  sex   age      diagnosis             study    site
0        A00000300  0.0  36.0        control  SCHIZCONNECT-VIP     MRN
1        A00000368  0.0  52.0  schizophrenia  SCHIZCONNECT-VIP     MRN
2        A00000456  0.0  53.0  schizophrenia  SCHIZCONNECT-VIP     MRN
3        A00000838  0.0  29.0  schizophrenia  SCHIZCONNECT-VIP     MRN
4        A00000909  0.0  27.0  schizophrenia  SCHIZCONNECT-VIP     MRN
..             ...  ...   ...            ...               ...     ...
733      ESOP00043  1.0  25.0            FEP            PRAGUE  PRAGUE
734      ESOP00086  0.0  27.0            FEP            PRAGUE  PRAGUE
735      ESOC10063  0.0  31.0        control            PRAGUE  PRAGUE
736      ESOC10098  1.0  27.0        control            PRAGUE  PRAGUE
737      ESOC10106  1.0  23.0        control            PRAGUE  PRAGUE

[738 rows x 6 columns]

## Fusion

In [43]:
schiz_subjects_full = pd.concat([bsnip_subjects_processed, candi_subjects_processed, cnp_subjects_processed, schizconnect_subjects_processed])

schiz_subjects_full

,participant_id,sex,age,diagnosis,study,site
0,INV07WT2ZL3,0,29.0,control,BSNIP,Dallas
1,INV0AL14J6U,0,43.0,schizophrenia,BSNIP,Dallas
2,INV0B7HKFAY,0,39.0,relative of proband with schizoaffective disorder,BSNIP,Dallas
3,INV0G5RXTCC,1,34.0,schizoaffective disorder,BSNIP,Dallas
4,INV0WW10RBB,1,42.0,schizoaffective disorder,BSNIP,Dallas
...,...,...,...,...,...,...
733,ESOP00043,1,25.0,FEP,PRAGUE,PRAGUE
734,ESOP00086,0,27.0,FEP,PRAGUE,PRAGUE
735,ESOC10063,0,31.0,control,PRAGUE,PRAGUE
736,ESOC10098,1,27.0,control,PRAGUE,PRAGUE
737,ESOC10106,1,23.0,control,PRAGUE,PRAGUE

#### Small checks

In [46]:
print(np.sum([bsnip_subjects.shape[0], candi_subjects.shape[0], cnp_subjects.shape[0], schizconnect_subjects.shape[0]]))
print(schiz_subjects_full.sex.unique())

2207
[0.0 1.0 'F' 'M']